// Thin
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-Hai.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-HaiIta.ttf");
  font-weight: 100;
  font-style: italic;
}

// Light
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-Lig.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-LigIta.ttf");
  font-weight: 300;
  font-style: italic;
}

// Normal
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-Reg.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-RegIta.ttf");
  font-weight: 400;
  font-style: italic;
}

// Bold
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-Bol.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-BolIta.ttf");
  font-weight: 700;
  font-style: italic;
}

// Ultra-Bold
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-Bla.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("#{$fontPath}/Lato-BlaIta.ttf");
  font-weight: 900;
  font-style: italic;
}